
div{
  text-align: center;
  margin-top: 70px;
}

a{
    text-decoration: none;
    padding: 20px 15px;
    background-color: rgb(167, 24, 48);
    border-radius: 20px;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
}

a:hover{
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

